{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    <title>{% block title %}{% endblock title %}</title>
  </head>
  <body>
    <header>
        <nav>
            <ul>
                <li><a href="">Home</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url "logout" %}">Logout</a></li>
                {% else %}
                <li><a href="{% url "login" %}">Login</a></li>
                <li><a href="{% url "signup" %}">Signup</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <div class="sidebar">
            {% block sidebar %}{% endblock sidebar %}
        </div>
        <div class="main-content">
            {% block content %}{% endblock content %}
        </div>
    </main>
  </body>
</html>
