{% extends "base.html" %}

{% block title %}
    Home
{% endblock title%}

{% block content %}
    <div>
        <h3>Brands</h3>
        <ul>
            {% for product in products %}
            <li>{{ product.brand }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}