{% extends "base.html" %}

{% block title %}
    Login
{% endblock title %}

{% block content %}
    <div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Login</button>
        </form>
    </div>
{% endblock content %}